<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/createquiz.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="create-quiz-container">
            <h1>Create a Quiz!</h1>
            <form id="createForm">
                <input class="code-input" type="text" id="quiz-name-input" name="quizName" placeholder="Enter Name" required>
                <button class="createButton" type="submit">Create</button>
            </form>
        </div>
        <div class="join-quiz-container">
            <p>Don't want to create a quiz?</p>
            <p>You can join one <a href="/host">here</a></p>
        </div>
    </div>
    <script src="js/create.js"></script>
</body>
</html>