<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/joinpage.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="join-quiz-container">
        <h1>Join a Quiz!</h1>
        <form id="joinForm">
            <input class="code-input" type="text" id="code" name="code" placeholder="Enter Code" required>
            <button class="joinButton" type="submit">Join</button>
        </form>
    </div>

    <script src="js/join.js"></script>
</body>
</html>