<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/quiz.js" defer></script>
    <script src="/js/timer.js" defer></script>
    <script src="/js/leavequiz.js" defer></script>
    <script src="/js/displayquiz.js" defer></script>
    <script src="/js/frontendutils.js" defer></script>
    <script src="/js/displayleaderboard.js" defer></script>
    <script src="/js/music.js" defer></script>
    <link rel="stylesheet" href="css/quiz.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <script>
        const ROOM_ID = "<%= roomId %>"
        const QUIZ_CODE = "<%= quizCode %>"
    </script>
</head>
<body>
    <audio id="backgroundMusic" loop controls>
        <source src="music/Street_Party.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <div class="waiting-room-container">
        <h2 class="waiting-room-title">Waiting Room</h2>
        <h2>Code: <%= quizCode %></h2>
        <div class="playerslist-container"></div>
    </div>
    <button id="waiting-room-music" onclick="toggleMusic()"><i class="music-icon ri-volume-up-fill"></i></button>
    <div class="main-container">
        <div class="game-info-container">
            <div id="code-container">
                <h2>Code: <%= quizCode %></h2>
                <button onclick="toggleMusic()" id="quiz-music-button"><i class="music-icon ri-volume-up-fill"></i></button>
            </div>
            <div class="question-info-container">
                <div class="questions-left-container">
                    <h3>Question Number: </h3>
                    <div class="questions-left-stats">
                        <p id="question-number"></p>
                        <p>/</p>
                        <p id="total-questions"></p>
                    </div>
                </div>
                <div class="players-submitted">
                    <h3>Answers Submitted: </h3>
                    <div class="submitted-stats">
                        <p id="total-submitted"></p>
                        <p>/</p>
                        <p id="total-players"></p>
                    </div>
                </div>
                <div id="timer"></div>
            </div>
        </div>
        <div class="question-container"></div>
        <div class="multiple-choice-container"></div>
    </div>
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
</body>
</html>