<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/quiz.js" defer></script>
    <script src="/js/timer.js" defer></script>
    <script src="/js/leavequiz.js"></script>
    <script src="/js/displayquiz.js"></script>
    <script src="/js/frontendutils.js"></script>
    <script src="/js/displayleaderboard.js"></script>
    <link rel="stylesheet" href="css/quiz.css">
    <script>
        const ROOM_ID = "<%= roomId %>"
        const QUIZ_CODE = "<%= quizCode %>"
    </script>
</head>
<body>
    <h2 class="waiting-room-title">Waiting Room</h2>
    <div class="main-container">

        <div class="game-info-container">
            <h2>Code: <%= quizCode %></h2>
            <div class="question-info-container">
                <div class="questions-left-container">
                    <h3>Question Number: </h3>
                    <div class="questions-left-stats">
                        <p id="question-number"></p>
                        <p>/</p>
                        <p id="total-questions"></p>
                    </div>
                </div>
                <div class="players-submitted">
                    <h3>Answers Submitted: </h3>
                    <div class="submitted-stats">
                        <p id="total-submitted"></p>
                        <p>/</p>
                        <p id="total-players"></p>
                    </div>
                </div>
                <div id="timer"></div>
            </div>
        </div>
    </div>
    <div class="playerslist-container">
    </div>
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
</body>
</html>