* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

#profile-container {
  min-height: 100vh;
  background-color: var(--primary);
  display: grid;
  place-items: center;
  color: var(--text-color);
  max-width: 100%;
}

#user-info-container {
  width: 75vw;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  height: 100%;
  max-height: 200px;
}

#user-stats-container, #pfp-name-container, #avg-review-container {
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: .8rem;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pfp-name-container {
  width: 20%;
}

#user-stats-container {
  width: 60%;
}

#avg-review-container {
  width: 20%;
}


#user-img {
  width: 100px;
  border-radius: 50%;
}

.creator-img {
  width: 50px;
  border-radius: 50%;
}

#user-name {
  font-size: 2rem;
  margin-top: 5px;
}

#quizzes-container {
  width: 75vw;
  padding: 1rem 0;
  border-radius: .8rem;
  background-color: var(--secondary);
  display: flex;
}




#user-stats-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.star-outer {
  position: relative;
  font-size: 2rem;
  display: inline-block;
}

.star-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
} 

.star-outer::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: #fff8;
}

.star-inner::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: gold;
}

.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.stat-container h2 {
  font-size: .8rem;
  font-weight: 400;
}

#average-review {
  margin-top: 5px;
}



#quizzes-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75vw;
  flex-direction: column;
}

.quiz {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  color: black;
}

.quiz {
  cursor: pointer;
  transition: 0.3s;
}

.quiz-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quiz-stats-container {
  height: 100%;
  width: 100%;
  max-width: 300px;
}

.main-details-container {
  display: flex;
  flex-direction: column;
}

.description {
  margin: 0;
}

.main-stats-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.creator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.quiz-creator {
  margin: 0 0 0 10px;
}

.quiz-title {
  margin: 0;
}

.stars-icon {
  font-style:normal;
  display:inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}
.stars-icon::before { 
  display:block;
  content: '★★★★★';
  color: #ddd;
}
.stars-icon::after {
  position: absolute;
  top: 0;
  content: '★★★★★';
  width: calc((var(--star-rating)/5) * 100%);
  color: orange;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.stars-icon {
  font-size: 2rem;
  line-height: 2rem; /* Add this line */
  margin-bottom: 10px;
}


.quiz-stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.extra-info-container p {
  margin: 0;
}

.quiz-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-views {
  margin-right: 10px;
}

.quiz {
  margin-bottom: 20px;
}

.quiz:hover {
  background-color: #CCC;
}

.quiz btn:hover {
  background-color: green;
}

.quiz:last-child {
  margin-bottom: 10px;
}

#quizzes-published-title {
  margin-top: 15px;
  margin-bottom: 30px;
}

#no-quizzes-msg {
  font-size: 1rem;
  font-weight: 300;
  padding: 100px;
}

.creator-container a {
  color: #000;
  text-decoration: none;
}

#friend-btn {
  padding: 1rem;
  border-radius: .8rem;
  background-color: var(--tertiary);
  cursor: pointer;
  border: none;
  color: var(--text-color)
}

.description-container, .title-container {
  display: flex;
  align-items: center;
}

.edit-description-btn, .edit-name-btn {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-description-btn {
  width: 18px;
  height: 18px;
}

.edit-name-btn {
  width: 20px;
  height: 20px;
}

.edit-questions-btn, .delete-quiz-btn {
  margin-top: 30px;
  padding: 1rem;
  border-radius: .8rem;
  cursor: pointer;
  border: none;
  color: var(--text-color);
}

.edit-questions-btn {
  background-color: var(--secondary);
}

.delete-quiz-btn {
  background-color: red;
  margin-left: 20px;
  max-width: 100px;
  width: 100%;
}

.pop-up {
  position: absolute;
  padding: 1rem;
  border-radius: .8rem;
  display: flex;
  width: 75vw;
  height: 50vh;
  background-color: var(--primary);
  color: #fff;
  top: 40%;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0,0,0,0.30);
  transition: 0.5s;
}

.pop-up.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.popup-close {
  padding: 0px 10px 10px 10px;
  border: none;
  background: none;
  padding: 0;
  color: white;
  font-size: 2rem;
  color: #777;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  color: var(--text-color);
}

.pop-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#option-btns-container {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-around;
  max-width: 350px;
}

#option-btns-container button {
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 125px;
  cursor: pointer;
  border: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.save-btn {
  background-color: var(--tertiary);
}

.cancel-btn, .delete-btn {
  background-color: red;
}

#edit-description-input, #edit-name-input {
  width: 75%;
  max-height: 50px;
  padding: 10px;
  border-radius: 5px;
  transition: 1s;
  outline-color: #02394a;
}

#edit-description-input:focus, #edit-name-input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#edit-description-input::placeholder, #edit-name-input::placeholder {
  color: #000;
  text-align: left;
}

.buttons-container {
  display: flex;
}

#deletePopup {
  height: 30vh;
}