body {
    font-family: "Poppins", sans-serif;
    background: var(--primary);
    height: 100vh;
    color: #fff;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-preview-container {
    min-height: 100vh;
    background-color: var(--primary);
  
    display: grid;
    place-items: center;
    color: var(--text-color);
    max-width: 100%;
}

.questions-container, .question-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--primary);
}
  
.questions-container {
    width: 100%;
}

.hide {
    display: none;
}

.question-box {
    display: flex;
    width: 95vw;
    background-color: var(--secondary);
    padding: 1.2rem;
    border-radius: .8rem;
    text-align: center;
    color: var(--text-color);
    border: none;
    outline: none;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1rem;
    flex-direction: column;
    height: 100%;
    max-height: 500px;
    position: relative;
}


.multiple-choice-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 50%;
}

.multiple-choice-container p {
    box-sizing: border-box;
    padding: 10px;
}

.multiple-choice {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #000;
}

.multiple-choice:hover {
    background-color: #9897A9
}

.multiple-choice:nth-child(1) {
    background-color: #02394a;
}
.multiple-choice:nth-child(2) {
    background-color: #7a89c2;
}
.multiple-choice:nth-child(3) {
    background-color: #388659;
}
.multiple-choice:nth-child(4) {
    background-color: #8884ff;
}

.question-title, .question-answer {
    margin: 10px;
}

#question-number-display {
    position: fixed;
    top: 20px;
    background-color: var(--secondary);
    padding: .4rem 8rem;
    padding: 10px 20px;
    border-radius: 5px;
}

#question-number-display span {
    text-align: center;
}

.add-question-btn {
    color: var(--text-color);
    background-color: var(--tertiary);
    position: absolute;
    top: 70px;
    right: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600;
}

.delete-question-btn {
    color: var(--text-color);
    background-color: red;
    position: absolute;
    top: 70px;
    left: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 600;
}

.ri-add-fill {
    font-size: 2rem;
}

.expandingTextarea::placeholder {
    font-size: 14px;
}

.expandingTextarea, textarea::placeholder {
   text-align: center;
   font-size: 20px;
}

.expandingTextarea {
    max-width: 800px;
    max-height: 100px;
    height: 20px;
    min-width: 30px;
    color: var(--text-color);
    
}

::-webkit-input-placeholder {
    text-align: center;
    color: #fff;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    color: #fff;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    color: #fff;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: #fff;
 }

.expandingTextarea {
    background-color: var(--tertiary);
}

.expandingTextarea {
    outline: none;
}

.pop-up {
    position: absolute;
    padding: 1rem;
    border-radius: .8rem;
    display: flex;
    width: 75vw;
    height: 50vh;
    background-color: var(--primary);
    color: #fff;
    top: 40%;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    transition: 0.5s;
}

.pop-up.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-close {
    padding: 0px 10px 10px 10px;
    border: none;
    background: none;
    padding: 0;
    color: white;
    font-size: 2rem;
    color: #777;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    color: var(--text-color);
}

.pop-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.multiple-choice-input {
    width: 75%;
    max-height: 50px;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
    outline-color: #02394a;
}

.multiple-choice-input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.multiple-choice-input::placeholder {
    color: #000;
    text-align: left;
}

#option-btns-container {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-around;
    max-width: 350px;
}

#option-btns-container button {
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 125px;
    cursor: pointer;
    border: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#add-question, #no-delete-question {
    background-color: var(--tertiary);
}

#cancel-question, #delete-question {
    background-color: red;
}


#edit-number-display {
    background-color: var(--primary);
    padding: 0.4rem 8rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.toggle-question-container {
    display: flex;
}

.arrow-icon {
    color: #fff;
    font-size: 20px;
}

.arrow-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 15px;
}

#delete-popup {
    text-align: center;
}

#delete-popup h1 {
    margin-top: 20px;
}