@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.player-container {
  display: flex;
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #41295a, #2f0743);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.waiting-room-title, .player-container p {
  color: #fff;
}

.player-container button {
  margin-left: 5px;
}

.main-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: 100%;
}

.game-info-container {
  color: #f1eff1;
  padding: 10px 50px;
}

#base-timer-label {
  color: #fff;
}

.playerslist-container,
.waiting-room-title {
  margin: 20px;
}

.multiple-choice-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px 20px;
}

.multiple-choice-container p {
  box-sizing: border-box;
  padding: 10px;
}

.multiple-choice {
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #000;
}

.multiple-choice:hover {
  background-color: rgba(30, 30, 30, 0.2);
}

.multiple-choice:nth-child(1) {
  background-color: #02394a;
}
.multiple-choice:nth-child(2) {
  background-color: #7a89c2;
}
.multiple-choice:nth-child(3) {
  background-color: #388659;
}
.multiple-choice:nth-child(4) {
  background-color: #8884ff;
}

.questionText {
  border: none;
}

.spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bar-container {
  display: flex;
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
}

.bar {
  background-color: blue; /* You can set any color you like */
  margin-right: 10px;
}

.bar-text {
  text-align: center;
}

.player-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40px;
}

.leaderboard-title {
  color: red;
}

.leaderboard-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  max-width: 1000px;
}

.leaderboard-podium {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  padding: 0 10px;
  align-items: center;
  margin: 0 10px;
  text-align: center;
  height: 0;

  /* Apply animation properties */
  animation: rise 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.leaderboard-podium h2 {
  margin-bottom: 0;
}

.leaderboard-podium-bar {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.silver .leaderboard-podium-bar {
  background-color: #4682b4;
}
.gold .leaderboard-podium-bar {
  background-color: #59788E;
}
.bronze .leaderboard-podium-bar {
  background-color: #7a89c2;
}

.leaderboard-podium h2,
.leaderboard-podium h3 {
  opacity: 0;
  animation: dropAndFadeIn 0.5s ease-out 2s forwards;
}

.gold {
  color: #ffd700; /* Gold color */
}

.silver {
  color: #c0c0c0; /* Silver color */
}

.bronze {
  color: #cd7f32; /* Bronze color */
}

@keyframes rise {
  0% {
    height: 0;
  }
  100% {
    height: var(--target-height);
  }
}

@keyframes dropAndFadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#timer-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 24px;
  overflow: hidden;
  animation: borderAnimation 10s linear;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

#timer {
  display: none;
}

.players-submitted {
  display: none;
  font-size: 20px;
}

.players-submitted h2 {
  font-size: 20px;
}

.game-info-container,
.question-info-container,
.players-submitted,
.questions-left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.question-container {
  padding: 20px 0;
}

.players-submitted {
  align-items: center;
  margin-right: 20px;
}

.players-submitted {
  display: none;
}

.submitted-stats,
.questions-left-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.submitted-stats,
.questions-left-stats {
  margin: 0 10px;
}

.submitted-stats p,
.questions-left-stats p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.questions-left-container {
  margin-right: 10px;
}

.questions-left-container {
  display: none;
}

.question-container {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flag-img {
  width: 48px;
  height: 22px;
  margin-left: 10px;
  margin-right: 5px;
}

#backgroundMusic {
  display: none;
}

#waiting-room-music {
  position: absolute;
  top: 20px;
  right: 20px;
}

#code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#quiz-music-button {
  margin-left: 5px;
}

#quiz-music-button, #waiting-room-music {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.music-icon {
  font-size: 30px;
  color: #fff;
}